{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Service | Pawsome Care</title>
    <link rel="stylesheet" href="{% static 'css/customer/bookservice.css' %}">
</head>
<body>

<div class="container">

    <h1>Choose a Service</h1>

    <!-- SERVICE FILTER -->
    <section class="services">
    <button class="service active" data-service="all">All</button>

    {% for service in services %}
        <button class="service" data-service="{{ service.key }}">
            {{ service.label }}
        </button>
    {% endfor %}
</section>


    <!-- PROVIDERS GRID -->
    <section class="providers-container">

        {% for provider in providers %}
        <div class="provider-card"
             data-services="{{ provider.services|join:',' }}">

            <h3>{{ provider.full_name }}</h3>
            <p class="city">{{ provider.city }}</p>

            <p class="bio">
                {{ provider.bio|default:"No bio available" }}
            </p>

            <a href="{% url 'booknow' provider.id %}?service={{ service }}">
                <button class="book-btn">Book Now</button>
            </a>

        </div>
        {% empty %}
            <p>No providers available</p>
        {% endfor %}

    </section>

</div>

<script src="{% static 'js/customer/bookservice.js' %}"></script>
</body>
</html>
