{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets | Pawsome Care</title>

    <link rel="stylesheet" href="{% static 'css/customer/customer_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/customer/my_pets.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>

<!-- NAVBAR (SAME AS CUSTOMER HOME) -->
<nav class="navbar">
    <div class="logo-wrapper">
        <img src="{% static 'images/pawsomecare-logo.png' %}" class="logo-img">
        <h2 class="logo">Pawsome<span>Care</span></h2>
    </div>

    <ul class="nav-links">
        <li><a href="{% url 'customer_home' %}">Home</a></li>
        <li><a href="{% url 'my_pets' %}" class="active">My Pets</a></li>
        <li><a href="{% url 'bookings' %}">Bookings</a></li>
        <li><a href="{% url 'shop' %}">Shop</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
        <li><a href="{% url 'report' %}">report</a></li>
    </ul>

    <a href="{% url 'goback' %}" class="btn-secondary">Logout</a>
</nav>

<!-- PAGE TITLE -->
<section class="pets-header">
    <h1>My Pets</h1>
    <a href="{% url 'add_pets' %}">
    <button class="add-pet-btn">+ Add Pet</button>
</a>

</section>

<!-- PET LIST -->
<section class="pets-container">

    {% for p in pets %}
        <div class="pet-card">
            <!-- <img src="{% static 'images/dog.png' %}"> -->
            {% if p.pet_photo %}
                <img src="{{ p.pet_photo.url }}">
            {% endif %}
            <h3>{{p.pet_name}}</h3>
            <p><strong>Type:</strong> {{p.pet_type}}</p>
            <p><strong>Breed:</strong>{{p.breed}}</p>
            <p><strong>Age:</strong> {{p.age}}</p>

            <div class="pet-actions">
                <a href="{% url 'update_pet' %}"
                <button class="view-btn">View</button>
                <button class="book-btn">Book Service</button>
            </div>
        </div>
    {% endfor %}

    
</section>

</body>
</html>
